/* color palette

#d5d5e1
#bdf0ad
#b9e2e4
#f9d4dc 

*/

.App {
  text-align: center;
  
}
.trandslateContainer{
  display: flex;
  position: absolute;
  width: 100%;
  height: -webkit-fill-available;
}
.translateforms{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

